.card-product{
    width: 360px;
    height: 124px;
    padding: 24px;
    margin-top: 588px; 
    margin-right: 120px; 
    margin-left: 100px;
    background-color: #FFFFFF;
}
.card-article {
    width: 360px;
    height: auto;
    background-color: #FFFFFF;
    cursor: pointer;
}
.card-article .card-article-content{
    color: #fff;
    background: #208B3A;
    text-align: center;
    width: 52px;
    height: 96px;
    padding: 8px;
    border-radius: 40px;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(2);
    margin-left: 280px;
    z-index: 2;
    transition: all 0.4s ease-out;
}
.card-article:hover .card-article-content{
    opacity: 0.85;
    transform:  translateY(-50%) scale(1);
}
.card-article .icon{
    padding: 0;
    margin: 0;
    list-style: none;
}
.card-article .icon li{
    display: inline-block;
    margin: 4px;
}
.card-article .icon li a{
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    line-height: 29px;
    height: 30px;
    width: 30px;
    border: 80px;
    display: block;
    transition: all 0.3s ease 0s;
}
.card-article .icon li a:hover{ background: #61AD74; border-radius: 80px; }
@media only screen and (max-width:990px){
    .card-article { margin: 0 0 30px; }
}
.card-article-overlay {
    width: 360px;
    height: auto;
    cursor: pointer;
}
.overlay-transparent{
    margin-top: -156px;
    padding: 32px;
}